.container {
  box-shadow: 0px 2px 20px 2px rgba($color: #000000, $alpha: 0.15);
  border-radius: 5px;
  .menucontainer {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    // box-sizing: border-box;
    // padding: 10px 5px;
    .menubox {
      width: 90%;
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
    }
    .menus {
      display: flex;
      width: 32%;
      justify-content: space-between;
      color: var(--color-text);
      .menutext {
        cursor: pointer;
        transition: 250ms;
      }
      .menutext:hover {
        color: blue;
        transition: 250ms;
      }
      .menutext.active {
        color: blue;
      }
    }
  }
}
